:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1920px;
  height: 2374px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.rectangle {
  position: relative;
  width: 1920px;
  height: 427px;
  margin: 0 0 0 0;
  background: #f9f3f9;
  z-index: 18;
}
.recruitpro-people {
  position: absolute;
  width: 562px;
  height: 376px;
  top: 51px;
  left: 482px;
  background: url(./assets/images/cb39775951446e22ec5d4c8022ea8357195033c1.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
}
.group {
  position: absolute;
  width: 83.951px;
  height: 47.574px;
  top: 162px;
  left: 1301.051px;
  background: url(./assets/images/4a513d39-8e68-4636-8e5b-3f6de51591a4.png)
    no-repeat center;
  background-size: cover;
  z-index: 21;
}
.vector {
  position: absolute;
  width: 6.938px;
  height: 37.805px;
  top: 171.449px;
  left: 1264.672px;
  background: url(./assets/images/7a19665c-3c5b-466e-9728-82934809492b.png)
    no-repeat center;
  background-size: cover;
  z-index: 28;
}
.vector-1 {
  position: absolute;
  width: 29.725px;
  height: 36.766px;
  top: 172.484px;
  left: 1129px;
  background: url(./assets/images/57b1a477-2d0b-403e-ac96-76fc05b5a6e9.png)
    no-repeat center;
  background-size: cover;
  z-index: 23;
}
.vector-2 {
  position: absolute;
  width: 18.285px;
  height: 36.402px;
  top: 173.316px;
  left: 1273.781px;
  background: url(./assets/images/98e1fcec-1cff-49b0-b349-5d78fb1f4773.png)
    no-repeat center;
  background-size: cover;
  z-index: 29;
}
.vector-3 {
  position: absolute;
  width: 28.483px;
  height: 28.119px;
  top: 181.652px;
  left: 1158.984px;
  background: url(./assets/images/0befe17f-bd4d-4027-8464-32541f4c6d98.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
}
.vector-4 {
  position: absolute;
  width: 26.671px;
  height: 28.109px;
  top: 181.652px;
  left: 1187.93px;
  background: url(./assets/images/3abe9d3e-f6c5-4eb2-b420-a0e8dc69afc8.png)
    no-repeat center;
  background-size: cover;
  z-index: 25;
}
.vector-5 {
  position: absolute;
  width: 16.159px;
  height: 27.5px;
  top: 181.75px;
  left: 1216.777px;
  background: url(./assets/images/1cce4e87-5aa4-4895-a8c4-d9f9a345ded6.png)
    no-repeat center;
  background-size: cover;
  z-index: 26;
}
.vector-6 {
  position: absolute;
  width: 27.029px;
  height: 27.661px;
  top: 182.117px;
  left: 1234.484px;
  background: url(./assets/images/c19b6a1f-2401-4d9d-b771-1b5fbd2d4167.png)
    no-repeat center;
  background-size: cover;
  z-index: 27;
}
.best-candidate {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 284px;
  height: 90px;
  top: 246px;
  left: 1131px;
  color: #000000;
  font-family: Raleway, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  z-index: 30;
}
.flex-row-dff {
  position: relative;
  width: 955px;
  height: 152.156px;
  margin: 37px 0 0 483px;
  z-index: 129;
}
.path {
  position: absolute;
  width: 9.76%;
  height: 61.24%;
  top: 0;
  left: 6.6%;
  background: url(./assets/images/30bdd499-54c4-47b4-bf69-6700ae35dbf9.png)
    no-repeat center;
  background-size: cover;
  z-index: 51;
}
.path-7 {
  position: absolute;
  width: 93.187px;
  height: 93.187px;
  top: 0;
  left: 0;
  background: url(./assets/images/86ce0207-c670-4ec5-b310-94497a5158a4.png)
    no-repeat center;
  background-size: cover;
  z-index: 67;
}
.path-8 {
  position: relative;
  width: 1.878px;
  height: 7.92px;
  margin: 14.156px 0 0 48.57px;
  background: url(./assets/images/f1d62f3a-e6bb-4693-b926-4b42ec19a53d.png)
    no-repeat center;
  background-size: cover;
  z-index: 54;
}
.path-9 {
  position: relative;
  width: 6.149px;
  height: 6.15px;
  margin: -3.803px 0 0 53.988px;
  background: url(./assets/images/e13e21ee-876c-4617-aed0-a6a31c70d0d1.png)
    no-repeat center;
  background-size: cover;
  z-index: 56;
}
.flex-row-d {
  position: relative;
  width: 62.144px;
  height: 49.514px;
  margin: 0.45px 0 0 20px;
  z-index: 66;
}
.path-a {
  position: absolute;
  width: 85.45%;
  height: 104.85%;
  top: -2.42%;
  left: -1.93%;
  background: url(./assets/images/f3b0dc41-2bbd-4b04-b5d1-5baffea26a14.png)
    no-repeat center;
  background-size: cover;
  z-index: 66;
}
.path-b {
  position: relative;
  width: 7.917px;
  height: 1.878px;
  margin: 3.16px 0 0 37.914px;
  background: url(./assets/images/db1ed2b8-8e2b-440d-952e-1e55871c1421.png)
    no-repeat center;
  background-size: cover;
  z-index: 58;
}
.path-c {
  position: relative;
  width: 1.878px;
  height: 7.92px;
  margin: 3.716px 0 0 47.285px;
  background: url(./assets/images/f24fee43-faaf-422d-9ec0-178b65a501a4.png)
    no-repeat center;
  background-size: cover;
  z-index: 60;
}
.path-d {
  position: absolute;
  width: 9.9%;
  height: 12.42%;
  top: 23.57%;
  left: 82.88%;
  background: url(./assets/images/8dc747c6-22b1-41f4-ae7d-c6fe10bbcab3.png)
    no-repeat center;
  background-size: cover;
  z-index: 62;
}
.path-e {
  position: absolute;
  width: 12.74%;
  height: 3.79%;
  top: 40.86%;
  left: 87.26%;
  background: url(./assets/images/00ce4c6e-8c02-4cc8-9afd-f5bf9da54956.png)
    no-repeat center;
  background-size: cover;
  z-index: 64;
}
.path-f {
  position: absolute;
  width: 93.187px;
  height: 93.188px;
  top: 0;
  left: 308px;
  background: url(./assets/images/9a31eb96-639a-4c8d-a2c9-4f1612164ad5.png)
    no-repeat center;
  background-size: cover;
  z-index: 75;
}
.path-10 {
  position: absolute;
  width: 93.187px;
  height: 93.188px;
  top: 0;
  left: 0;
  background: url(./assets/images/4046d755-d7f3-4a27-be15-e2615640405a.png)
    no-repeat center;
  background-size: cover;
  z-index: 76;
}
.path-11 {
  position: absolute;
  width: 93.187px;
  height: 93.188px;
  top: 0;
  left: 0;
  background: url(./assets/images/64cd4065-d08e-4953-983b-e993911a1401.png)
    no-repeat center;
  background-size: cover;
  z-index: 77;
}
.path-12 {
  position: absolute;
  width: 93.187px;
  height: 93.188px;
  top: 0;
  left: 0;
  background: url(./assets/images/7cb9cb74-a10d-4041-95f0-60ca471030ee.png)
    no-repeat center;
  background-size: cover;
  z-index: 78;
}
.flex-column-ac {
  position: absolute;
  width: 16.3%;
  height: 72.34%;
  top: 13.83%;
  left: 25.95%;
  z-index: 86;
}
.path-13 {
  position: relative;
  width: 16.691px;
  height: 20.93px;
  margin: -0.75px 0 0 -0.75px;
  background: url(./assets/images/8d4039d7-d37d-40a0-8e31-868be2ac70fd.png)
    no-repeat center;
  background-size: cover;
  z-index: 80;
}
.path-14 {
  position: relative;
  width: 16.691px;
  height: 20.93px;
  margin: 2.43px 0 0 -0.75px;
  background: url(./assets/images/b702b7d8-09bd-49b8-bfb1-41fe243d139e.png)
    no-repeat center;
  background-size: cover;
  z-index: 83;
}
.path-15 {
  position: relative;
  width: 16.691px;
  height: 20.93px;
  margin: 3.695px 0 0 -0.75px;
  background: url(./assets/images/cf315a89-bc4a-4f0c-8669-0b9c244d6217.png)
    no-repeat center;
  background-size: cover;
  z-index: 86;
}
.flex-column-d {
  position: absolute;
  width: 24.835px;
  height: 56.761px;
  top: 17.309px;
  left: 44.168px;
  z-index: 87;
}
.path-16 {
  position: relative;
  width: 27.234px;
  height: 11.176px;
  margin: -1.199px 0 0 -1.199px;
  background: url(./assets/images/b0f244a6-2951-419b-9dba-0730489c60be.png)
    no-repeat center;
  background-size: cover;
  z-index: 81;
}
.path-17 {
  position: relative;
  width: 27.234px;
  height: 11.176px;
  margin: 12.184px 0 0 -1.199px;
  background: url(./assets/images/be1b4858-305e-49a4-af16-7ad449367ac9.png)
    no-repeat center;
  background-size: cover;
  z-index: 84;
}
.path-18 {
  position: relative;
  width: 27.234px;
  height: 11.176px;
  margin: 13.449px 0 0 -1.199px;
  background: url(./assets/images/0a864e5f-c813-4265-8084-48b4c86d33e9.png)
    no-repeat center;
  background-size: cover;
  z-index: 87;
}
.path-19 {
  position: absolute;
  width: 9.76%;
  height: 61.24%;
  top: 0;
  left: 57.91%;
  background: url(./assets/images/6edef038-0c9f-4aea-a8ce-4dac7cfd3652.png)
    no-repeat center;
  background-size: cover;
  z-index: 96;
}
.path-1a {
  position: absolute;
  width: 93.187px;
  height: 93.188px;
  top: 0;
  left: 0;
  background: url(./assets/images/0ba40568-a817-40f2-9744-b1f0e33b10fb.png)
    no-repeat center;
  background-size: cover;
  z-index: 97;
}
.flex-row-fd {
  position: relative;
  width: 62.341px;
  height: 41.366px;
  margin: 19.898px 0 0 15.426px;
  z-index: 118;
}
.path-1b {
  position: absolute;
  width: 38.92%;
  height: 88.71%;
  top: -2.42%;
  left: 62.68%;
  background: url(./assets/images/4edb3b2a-a50c-4512-b5f5-07820c34524c.png)
    no-repeat center;
  background-size: cover;
  z-index: 116;
}
.path-1c {
  position: absolute;
  width: 88.72%;
  height: 71.48%;
  top: 30.94%;
  left: -1.6%;
  background: url(./assets/images/a9076415-0d38-4812-aa18-e8092c2ad870.png)
    no-repeat center;
  background-size: cover;
  z-index: 118;
}
.path-1d {
  position: relative;
  width: 33.227px;
  height: 22.52px;
  margin: 6.938px 0 0 22px;
  background: url(./assets/images/1489ea02-49a6-45ef-8166-0ab6bb3b851b.png)
    no-repeat center;
  background-size: cover;
  z-index: 108;
}
.flex-row-af {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 32.432px;
  height: 12.209px;
  margin: -8.46px 0 0 32.086px;
  z-index: 110;
}
.path-1e {
  flex-shrink: 0;
  position: relative;
  width: 11.316px;
  height: 14.211px;
  background: url(./assets/images/b430f716-6ce1-4a22-ae23-9ae34b9a7bd6.png)
    no-repeat center;
  background-size: cover;
  z-index: 100;
}
.path-1f {
  flex-shrink: 0;
  position: relative;
  width: 10.82px;
  height: 9.938px;
  background: url(./assets/images/423eecee-2e2f-4798-8ae2-996a3ca8a867.png)
    no-repeat center;
  background-size: cover;
  z-index: 110;
}
.path-20 {
  position: relative;
  width: 10.621px;
  height: 12.992px;
  margin: -9.135px 0 0 35.469px;
  background: url(./assets/images/65ce51e2-d042-4426-9767-bcddfc3f2693.png)
    no-repeat center;
  background-size: cover;
  z-index: 102;
}
.flex-row-dd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 19.67px;
  height: 9.723px;
  margin: -7.937px 0 0 40.73px;
  z-index: 112;
}
.path-21 {
  flex-shrink: 0;
  position: relative;
  width: 9.895px;
  height: 11.723px;
  background: url(./assets/images/3fcca7ab-2197-4b8e-b083-18ddab875a7f.png)
    no-repeat center;
  background-size: cover;
  z-index: 104;
}
.path-22 {
  flex-shrink: 0;
  position: relative;
  width: 8.809px;
  height: 8.938px;
  background: url(./assets/images/09dced53-e7da-4c0e-bb95-8cc8d297bfe8.png)
    no-repeat center;
  background-size: cover;
  z-index: 112;
}
.flex-row-ff {
  position: relative;
  width: 11.214px;
  height: 8.267px;
  margin: -5.633px 0 0 45.039px;
  z-index: 114;
}
.path-23 {
  position: absolute;
  width: 80.92%;
  height: 124.18%;
  top: -12.1%;
  left: -8.92%;
  background: url(./assets/images/121936c2-6620-4c59-bbe6-28b030bb46c1.png)
    no-repeat center;
  background-size: cover;
  z-index: 106;
}
.path-24 {
  position: absolute;
  width: 65.49%;
  height: 92.52%;
  top: -0.38%;
  left: 43.44%;
  background: url(./assets/images/1656163d-f091-428f-9db5-3a62edf943e1.png)
    no-repeat center;
  background-size: cover;
  z-index: 114;
}
.clip-path-group {
  position: absolute;
  width: 9.76%;
  height: 61.24%;
  top: 0;
  left: 83.56%;
  z-index: 129;
  -webkit-mask-image: url(./assets/images/d9717c59-2c11-4284-ab94-02cc9a1d83ae.png);
  -webkit-mask-size: cover;
}
.path-25 {
  position: relative;
  width: 9.085px;
  height: 9.279px;
  margin: 51.121px 0 0 57.02px;
  background: url(./assets/images/346150f1-be18-4dda-820a-f697ad524c58.png)
    no-repeat center;
  background-size: cover;
  z-index: 138;
}
.group-26 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 130;
}
.group-27 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 131;
}
.path-28 {
  position: absolute;
  width: 93.187px;
  height: 93.188px;
  top: 0;
  left: 0;
  background: url(./assets/images/b5be523b-70de-43df-9f0b-49b56f1825ca.png)
    no-repeat center;
  background-size: cover;
  z-index: 132;
}
.group-29 {
  position: absolute;
  width: 27.17%;
  height: 71.41%;
  top: 14.29%;
  left: 36.41%;
  z-index: 133;
}
.path-2a {
  position: absolute;
  width: 27.719px;
  height: 68.945px;
  top: -1.199px;
  left: -1.199px;
  background: url(./assets/images/a5708fc2-bcf9-42a4-9ce0-81c70310907f.png)
    no-repeat center;
  background-size: cover;
  z-index: 134;
}
.group-2b {
  position: absolute;
  width: 20.08%;
  height: 20.08%;
  top: 49.8%;
  left: 56.02%;
  z-index: 135;
}
.path-2c {
  position: absolute;
  width: 18.712px;
  height: 18.712px;
  top: 0;
  left: 0;
  background: url(./assets/images/e3f475ad-f159-4cf4-9758-3bf1513a9c28.png)
    no-repeat center;
  background-size: cover;
  z-index: 136;
}
.button {
  position: absolute;
  width: 220px;
  height: 100px;
  top: 52.156px;
  left: 0;
  cursor: pointer;
  background: #dfc582;
  border: none;
  z-index: 48;
  border-radius: 16px;
}
.source-attract {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 180px;
  height: 25px;
  top: 52.844px;
  left: 8px;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  white-space: nowrap;
  z-index: 69;
}
.path-2d {
  position: absolute;
  width: 6.61%;
  height: 20%;
  top: 59.84%;
  left: 87.73%;
  background: url(./assets/images/cf7c9abe-ae43-4dca-9038-1c04612d1a07.png)
    no-repeat center;
  background-size: cover;
  z-index: 71;
}
.rectangle-2e {
  position: absolute;
  width: 220px;
  height: 100px;
  top: 52.156px;
  left: 245px;
  background: #dfc582;
  z-index: 73;
  border-radius: 16px;
}
.shortlist {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 94px;
  height: 25px;
  top: 52.844px;
  left: 55px;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  white-space: nowrap;
  z-index: 89;
}
.path-2f {
  position: absolute;
  width: 6.61%;
  height: 20%;
  top: 59.84%;
  left: 70.91%;
  background: url(./assets/images/bcfe1c46-b0c5-4b19-a163-4c84ae821f13.png)
    no-repeat center;
  background-size: cover;
  z-index: 91;
}
.rectangle-30 {
  position: absolute;
  width: 220px;
  height: 100px;
  top: 52.156px;
  left: 490px;
  background: #dfc582;
  z-index: 93;
  border-radius: 16px;
}
.interview {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 53px;
  left: 56px;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  white-space: nowrap;
  z-index: 120;
}
.path-31 {
  position: absolute;
  width: 6.61%;
  height: 20%;
  top: 59.84%;
  left: 74.09%;
  background: url(./assets/images/782dea5a-46ac-4ab5-94a7-865155d6ce17.png)
    no-repeat center;
  background-size: cover;
  z-index: 122;
}
.rectangle-32 {
  position: absolute;
  width: 220px;
  height: 100px;
  top: 52.156px;
  left: 735px;
  background: #dfc582;
  z-index: 126;
  border-radius: 16px;
}
.onboard {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 96px;
  height: 25px;
  top: 53px;
  left: 55px;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  white-space: nowrap;
  z-index: 142;
}
.path-33 {
  position: absolute;
  width: 6.61%;
  height: 20%;
  top: 59.84%;
  left: 71.82%;
  background: url(./assets/images/fc0abf82-20e8-4797-be53-749edf831a93.png)
    no-repeat center;
  background-size: cover;
  z-index: 144;
}
.rectangle-34 {
  position: relative;
  width: 1920px;
  height: 715px;
  margin: 37.844px 0 0 0;
  font-size: 0px;
  background: #fff9e9;
  z-index: 7;
  overflow: visible auto;
}
.welcome-to-recruitpro {
  display: block;
  position: relative;
  height: 59px;
  margin: 37px 0 0 484px;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  text-align: left;
  white-space: nowrap;
  z-index: 153;
}
.flex-row-fa {
  position: relative;
  width: 907px;
  height: 163px;
  margin: 22px 0 0 484px;
  z-index: 14;
}
.recruitpro-takes-guesswork {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 430px;
  height: 163px;
  top: 0;
  left: 0;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  z-index: 9;
}
.time-consuming-recruitment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 423px;
  height: 119px;
  top: 0;
  left: 484px;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  z-index: 14;
}
.yellow-bar-desktop {
  position: relative;
  width: 953px;
  height: 50px;
  margin: 22px 0 0 484px;
  background: #dfc582;
  z-index: 172;
  border-radius: 8px;
}
.four-recruitment-stages {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 10px;
  left: calc(50% - 446.5px);
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 25px;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  z-index: 172;
}
.flex-row-bfe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 704px;
  height: 25px;
  margin: 27px 0 0 484px;
  z-index: 166;
}
.source-attract-35 {
  flex-shrink: 0;
  position: relative;
  height: 25px;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 160;
}
.shortlist-36 {
  flex-shrink: 0;
  position: relative;
  height: 25px;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 166;
}
.flex-row {
  position: relative;
  width: 887px;
  height: 110px;
  margin: 15px 0 0 484px;
  z-index: 164;
}
.understanding-role-resources {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 430px;
  height: 96px;
  top: 0;
  left: 0;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  z-index: 158;
}
.screening-applicants {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 403px;
  height: 110px;
  top: 0;
  left: 484px;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  z-index: 164;
}
.flex-row-dd-37 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 704px;
  height: 25px;
  margin: 16px 0 0 484px;
  z-index: 169;
}
.interview-38 {
  flex-shrink: 0;
  position: relative;
  height: 25px;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 163;
}
.onboard-39 {
  flex-shrink: 0;
  position: relative;
  height: 25px;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 169;
}
.flex-row-ba {
  position: relative;
  width: 895px;
  height: 91px;
  margin: 15px 0 0 484px;
  z-index: 167;
}
.interview-structure {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 416px;
  height: 76px;
  top: 0;
  left: 0;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  z-index: 161;
}
.onboarding-resources {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 411px;
  height: 91px;
  top: 0;
  left: 484px;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  z-index: 167;
}
.rectangle-3a {
  position: relative;
  width: 1920px;
  height: 50px;
  margin: 0 0 0 0;
  background: #f2eaff;
  z-index: 152;
}
.click-get-started {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 31px;
  top: 8px;
  left: calc(50% - 477px);
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 22px;
  font-weight: 700;
  line-height: 31px;
  text-align: left;
  white-space: nowrap;
  z-index: 152;
}
.flex-row-f {
  position: relative;
  width: 954px;
  height: 505px;
  margin: 23px 0 0 483px;
  z-index: 37;
}
.sam-image-desktop {
  position: absolute;
  width: 307px;
  height: 214px;
  top: 0;
  left: 0;
  background: url(./assets/images/c03830c0-7c93-40d0-a822-d9c7e211c033.png)
    no-repeat center;
  background-size: cover;
}
.recruitment-form-image {
  position: absolute;
  width: 307px;
  height: 214px;
  top: 0;
  left: 323px;
  z-index: 34;
  -webkit-mask-image: url(./assets/images/c42a7f26-2949-4df7-a695-5530965acb72.png);
  -webkit-mask-size: cover;
}
.mask-group {
  position: absolute;
  width: 370.792px;
  height: 220.534px;
  top: -5.535px;
  left: -36.879px;
  z-index: 35;
}
.adobestock-sml {
  position: absolute;
  width: 370.792px;
  height: 220.534px;
  top: 0;
  left: 0;
  background: url(./assets/images/62916bf276da74cd0cf155d25500b642f69437a4.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
}
.referral-partner-image {
  position: absolute;
  width: 307px;
  height: 214px;
  top: 0;
  left: 647px;
  background: url(./assets/images/2f43f1cd-25fb-471d-bbb6-9b801f69f5e2.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.rectangle-3b {
  position: absolute;
  width: 307px;
  height: 307px;
  top: 198px;
  left: 0;
  font-size: 0px;
  background: #312159;
  z-index: 2;
  border-radius: 16px;
}
.meet-sam {
  display: block;
  position: relative;
  height: 25px;
  margin: 24px 0 0 23px;
  color: #ffffff;
  font-family: Raleway, var(--default-font-family);
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.rectangle-3c {
  position: relative;
  width: 268px;
  height: 30px;
  margin: 23px 0 0 23px;
  background: #bcd9db;
  z-index: 32;
  border-radius: 6px;
}
.recruitment-specialist {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 7px;
  left: 11px;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 15px;
  font-weight: 800;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.samantha-mcevoy-experience {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 268px;
  height: 140px;
  margin: 15px 0 0 23px;
  color: #ffffff;
  font-family: Raleway, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  letter-spacing: -0.48px;
  z-index: 16;
}
.get-in-touch {
  display: block;
  position: relative;
  height: 25px;
  margin: 8px 0 0 23px;
  color: #dfc582;
  font-family: Raleway, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.rectangle-3d {
  position: absolute;
  width: 307px;
  height: 307px;
  top: 198px;
  left: 323px;
  font-size: 0px;
  background: #312159;
  z-index: 37;
  border-radius: 16px;
}
.recruitment-form {
  display: block;
  position: relative;
  height: 31px;
  margin: 24px 0 0 20px;
  color: #ffffff;
  font-family: Raleway, var(--default-font-family);
  font-size: 25px;
  font-weight: 700;
  line-height: 31px;
  text-align: left;
  white-space: nowrap;
  z-index: 38;
}
.rectangle-3e {
  position: relative;
  width: 267px;
  height: 30px;
  margin: 17px 0 0 20px;
  background: #bcd9db;
  z-index: 42;
  border-radius: 6px;
}
.recruit-for-you {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 7px;
  left: 11px;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 15px;
  font-weight: 800;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 43;
}
.manage-advertising {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 251px;
  height: 100px;
  margin: 15px 0 0 20px;
  color: #ffffff;
  font-family: Raleway, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  z-index: 40;
}
.get-started-here {
  display: block;
  position: relative;
  height: 31px;
  margin: 48px 0 0 20px;
  color: #dfc582;
  font-family: Raleway, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 31px;
  text-align: left;
  white-space: nowrap;
  z-index: 39;
}
.rectangle-3f {
  position: absolute;
  width: 307px;
  height: 307px;
  top: 198px;
  left: 647px;
  font-size: 0px;
  background: #312159;
  z-index: 3;
  border-radius: 16px;
}
.referral-partners {
  display: block;
  position: relative;
  height: 39px;
  margin: 24px 0 0 23px;
  color: #ffffff;
  font-family: Raleway, var(--default-font-family);
  font-size: 25px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.rectangle-40 {
  position: relative;
  width: 267px;
  height: 30px;
  margin: 9px 0 0 23px;
  background: #bcd9db;
  z-index: 45;
  border-radius: 6px;
}
.trusted-network {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 7px;
  left: 11px;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 15px;
  font-weight: 800;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 46;
}
.find-locums {
  position: relative;
  width: 254px;
  height: 100px;
  margin: 15px 0 0 23px;
  font-family: Raleway, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  z-index: 15;
}
.find-locums-41 {
  position: relative;
  color: #ffffff;
  font-family: Raleway, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.locum-ly {
  position: relative;
  color: #dfc582;
  font-family: Raleway, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.find-locums-42 {
  position: relative;
  color: #ffffff;
  font-family: Raleway, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.locum-ly-43 {
  position: relative;
  color: #dfc582;
  font-family: Raleway, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.flex-row-f-44 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 954px;
  height: 77px;
  margin: 32px 0 0 483px;
  z-index: 154;
}
.rectangle-45 {
  flex-shrink: 0;
  position: relative;
  width: 465px;
  height: 77px;
  cursor: pointer;
  background: #dfc582;
  border: none;
  z-index: 145;
  border-radius: 16px;
}
.cropped-cropped-ara-logo {
  position: absolute;
  width: 178px;
  height: 49px;
  top: 15px;
  left: 143px;
  background: url(./assets/images/e4c8581fd207165ca5b3b319d60bc7f258f31cdc.png)
    no-repeat center;
  background-size: cover;
  z-index: 146;
}
.path-46 {
  position: absolute;
  width: 4.52%;
  height: 37.59%;
  top: 33.77%;
  left: 73.76%;
  background: url(./assets/images/8aa55810-dd34-48af-a920-5a8dce427d6e.png)
    no-repeat center;
  background-size: cover;
  z-index: 148;
}
.rectangle-47 {
  flex-shrink: 0;
  position: relative;
  width: 465px;
  height: 77px;
  cursor: pointer;
  background: #dfc582;
  border: none;
  z-index: 154;
  border-radius: 16px;
}
.fairwork-logo {
  position: absolute;
  width: 246px;
  height: 47px;
  top: 15px;
  left: 89px;
  background: url(./assets/images/323f696e274b3317988bdd806b767b0c3b12b73f.png)
    no-repeat center;
  background-size: cover;
  z-index: 157;
}
.path-48 {
  position: absolute;
  width: 4.52%;
  height: 37.59%;
  top: 33.77%;
  left: 76.34%;
  background: url(./assets/images/8d6e1c5d-0836-46c7-8746-815de35165b5.png)
    no-repeat center;
  background-size: cover;
  z-index: 156;
}
.rectangle-49 {
  position: relative;
  width: 1920px;
  height: 292px;
  margin: 26px 0 0 0;
  background: #fff9e9;
  z-index: 8;
}
.bek-penry-routson {
  position: absolute;
  width: 117px;
  height: 117px;
  top: 86px;
  left: 972px;
  background: url(./assets/images/3c77f1e7-4844-432f-9263-26598c6730f7.png)
    no-repeat center;
  background-size: cover;
  z-index: 149;
}
.alan-burrows {
  position: absolute;
  width: 117px;
  height: 117px;
  top: 86px;
  left: 483px;
  background: url(./assets/images/f859eb91-9fbc-4d8b-9af9-8c4a0980f835.png)
    no-repeat center;
  background-size: cover;
  z-index: 150;
}
.provision-team {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 330px;
  height: 85px;
  top: 88px;
  left: 1111px;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  z-index: 11;
}
.quality-candidates {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 302px;
  height: 85px;
  top: 88px;
  left: 622px;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  z-index: 10;
}
.alan-burrows-optometrist {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 184px;
  left: 622px;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.penry-routson-optometrists {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 184px;
  left: 1111px;
  color: #312159;
  font-family: Raleway, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
